/* GLOBAL (default) */
body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

main {
    padding: 10px;
}

footer {
    text-align: center;
    padding: 10px;
}

/* MEDIUM */
@media (min-width: 600px) {
    main {
            padding: 20px;
    }
}

/* LARGE */
@media (min-width: 992px) {
    nav ul {
        justify-content: center;
    }
}

/* XL */
@media (min-width: 1200px) {
    main {
        max-width: 1000px;
        margin: auto;
    }
}