/* GLOBAL (default) */
body {
    font-family: Arial, sans-serif;
}

/* MEDIUM */
@media (min-width: 600px) {
    main {
            padding: 20px;
    }
 }

/* LARGE */
@media (min-width: 992px) {
    nav ul {
        display: flex;
        justify-content: center;
    }
}

/* XL */